Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ public/ [QSA,L]

# <IfModule mod_rewrite.c>
#     <IfModule mod_negotiation.c>
#         Options -MultiViews -Indexes
#     </IfModule>
 
#     RewriteEngine On

#     RewriteRule ^ public/ [QSA,L]
# </IfModule>